## BOARD PINS
[board_pins EBB36_G0B1_v1.2] 
mcu: can0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4


## can0
[mcu can0]
canbus_uuid: 2c77b9d71a11 # run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

## can0
[temperature_sensor CANBOARD]
sensor_type: temperature_mcu
sensor_mcu: can0

## HOT END FAN
[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: can0:FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

## PART COOLING
[fan]
pin: can0:FAN1
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

## EXTRUDER 
[extruder]
step_pin: can0:EXT_STEP
dir_pin: !can0:EXT_DIR
enable_pin: !can0:EXT_EN
#rotation_distance: 22.67895 #for 5mm Shaft Driven Bondtech gearsets
rotation_distance: 26.72306036
gear_ratio: 50:8 #for sherpa mini 8t motor
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: can0:HE0
sensor_pin: can0:TH0
sensor_type: ATC Semitec 104GT-2  # this is the default for the Revo heater
pullup_resistor: 2200             # this is the default for the Revo heater
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: -50
max_temp: 350

## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: can0:EXT_UART
stealthchop_threshold: 0
run_current: 0.30

## ADXL345
[adxl345]
cs_pin: can0:ADXL_CS
spi_software_sclk_pin: can0:ADXL_SCLK
spi_software_mosi_pin: can0:ADXL_MOSI
spi_software_miso_pin: can0:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,20  # an example for a 350mm printer

## RGB
#[neopixel my_neopixel]
#pin: can0:RGBLED
#chain_count: 12
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0

## PT100
# [temperature_sensor PT100]
# sensor_type: MAX31865
# sensor_pin: can0:PT100_CS
# spi_bus: spi1
# min_temp: -50
# max_temp: 350
# rtd_reference_r: 430


!THIS IS HERE SO YOU READ THE NEXT LINE ;) - DELETE ME ONCE DONE!
## PROBE - MOVE THIS TO printer.cfg or your probe offsets will fail!
[probe]
pin: ^can0:LIMIT_1
x_offset: -29.8
y_offset: -13.5
z_offset: 2.202
speed: 5
samples: 3
sample_retract_dist: 2
lift_speed: 5.0
samples_result: median
samples_tolerance: 0.02
samples_tolerance_retries: 5
